abbr, address, article, aside, audio, b, blockquote, body, body div,
	caption, cite, code, dd, del, details, dfn, dl, dt, em, fieldset,
	figure, footer, form, h1, h2, h3, h4, h5, h6, header, html, i, iframe,
	img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre,
	q, samp, section, small, span, strong, sub, summary, sup, table, tbody,
	td, tfoot, th, thead, time, tr, ul, var, video {
	margin: 0;
	padding: 0;
	border: 0;
	background: 0 0;
	font-family: "微软雅黑"
}

table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0
}

th {
	font-weight: 700
}

td, th {
	padding: .15rem .1rem
}